body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: Roboto;
    }

.container {
    display: flex;
    flex-direction: column;
}

/*Navbar*/


 .navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #1F2937;

 }
 
 .navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 1rem;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: right;
    padding-right: 15rem;     
 }

 .header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding-left: 10rem;
 }

/*Top "hero" section*/

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding: 90px;
    
}


.hero-left {
    display: flex;
    width: 40%;
    flex-direction: column;
    }

.hero-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    font: bolder;
    width: 50%;
    height: auto;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
    
}

.topButton {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 15%;
    border:0px;
}

.hero-img {
    display: flex;
    width: 500px;
    height:auto;
    opacity: 50%;
    background-color:lightgrey;
}

/* Boxes and subtext */

.content{
    display: flex;
    flex-direction: column;
}

.content-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-title h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.subtext, .squares {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 1rem;
    font-size: 18px;
    color: #1F2937;
    justify-content: space-evenly;
       
}

.squares li {
    display: flex;
    background: white;
    height: 200px;
    width: 200px;
    border: #3882f6;
    border-style: solid;
    border-width: 3px;
    border-radius: 50px;
    justify-content: space-around;
    
}

.subtext li {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    width: 15%;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
} 

.quote {
    background-color: #E5E7EB;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 0 200px;
}

.quote h2 {
    display: block;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    margin-block-end: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.quote p {
    color: #1F2937;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;

}

/* Call to Action & Button */

.sign-up {
    display: flex;
    color:#E5E7EB;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-between;
    width: 40%;
    padding-right:5rem;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-self: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.signuptext {
    display:flex;
    flex-direction: column;
    margin-bottom: 0px;
    gap: 3px;
}

.sign-up button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    width: 25%;
    height: auto;
    border:3px; 
    border-style: solid;
    border-color: white;
}

/* Footer */

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
}